{% extends 'home/base.html' %}

{% load i18n %}
{% load static %}
{% block head %}
<title>iReal M3 | Indart3D</title>
<!--enlaces del carousel-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal
==================================================-->

<div class="container my-5">
        <!-- Título IT3D -->
        <div class="text-center mb-4">
            <h1 class="fw-bold">Scantech iReal M3</h1>
        </div>

    <!-- Sección 1: Video e información -->
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X-uh2k0K5S8?si=Ml0v8D6pIvWBPFNp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h2>{% trans 'Escáner 3D a color iReal M3' %}</h2>
            <p>
                {% trans 'El escáner 3D a color de la serie iReal M (High SigmMatch Master) es una nueva serie de escáneres 3D profesionales desarrollados por SCANTECH. Sus modos de láser Infrarrojo y luz estructurada permiten la adquisición de datos 3D en diferentes aplicaciones, ya sea escaneando personas y objetos, en interiores o exteriores. iReal M ofrece soluciones profesionales de digitalización 3D a ingenieros 3D, diseñadores 3D e investigadores científicos para satisfacer sus demandas de diseño industrial, diseño artístico, diseño médico, digitalización del cuerpo humano' %}, etc.
            </p>
        </div>
    </div>

    <!-- Sección 2: Imagen completa -->
    <div class="row align-items-center py-5">
        <div class="col-12">
            <img src="{% static 'img/irealm3/Capturacastellano-1.png' %}" alt="Características del escáner" class="img-fluid rounded mx-auto d-block">
        </div>
    </div>

    <!-- Sección 3: Descripción e imagen -->
    <div class="row align-items-center d-none d-lg-flex py-5">
        <div class="col-md-6">
            <h2>{% trans 'Escáner 3D profesional con luz dual, seguro y cómodo' %}</h2>
            <p>
                {% trans 'iReal M3 puede satisfacer la demanda de adquisición de datos 3D de múltiples tamaños y materiales en diversos escenarios gracias a sus láseres infrarrojos duales. Su VSCEL infrarrojo y láser infrarrojo paralelo, que han pasado respectivamente los estándares de seguridad, no suponen ningún daño para los ojos humanos. Estas dos fuentes de luz invisibles pueden proporcionar experiencias de escaneo más adaptables y cómodas' %}.
            </p>
            <p>
                {% trans 'iReal M3 adopta dos tipos de luces de relleno, que pueden ser controladas individualmente. La luz de relleno infrarroja invisible puede mejorar el reconocimiento de detalles y la adaptabilidad del material negro mate, mientras que la luz de relleno LED puede mejorar el brillo de la alineación de colores' %}.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'img/irealm3/easy-2.jpg' %}" alt="Escáner 3D" class="img-fluid rounded">
        </div>
    </div>

    <!--================================================================
            ieste es un row duplicado y adaptado a pantallas mviles
    ====================================================================-->
    <!-- Sección 3: Descripción e imagen -->
    <div class="row align-items-center d-flex d-lg-none py-5">
        <div class="col-md-6 text-center">
            <img src="{% static 'img/irealm3/easy-2.jpg' %}" alt="Escáner 3D" class="img-fluid rounded">
        </div>
        <div class="col-md-6 py-5">
            <h2>{% trans 'Escáner 3D profesional con luz dual, seguro y cómodo' %}</h2>
            <p>
                {% trans 'iReal M3 puede satisfacer la demanda de adquisición de datos 3D de múltiples tamaños y materiales en diversos escenarios gracias a sus láseres infrarrojos duales. Su VSCEL infrarrojo y láser infrarrojo paralelo, que han pasado  respectivamente los estándares de seguridad, no suponen ningún daño para los ojos humanos. Estas dos fuentes de luz invisibles pueden proporcionar experiencias de escaneo más adaptables y cómodas' %}.
            </p>
            <p>
                {% trans 'iReal M3 adopta dos tipos de luces de relleno, que pueden ser controladas individualmente. La luz de relleno infrarroja invisible puede mejorar el reconocimiento de detalles y la adaptabilidad del material negro mate, mientras que la luz de relleno LED puede mejorar el brillo de la alineación de colores' %}.
            </p>
        </div>
    </div>


    <!-- 4ta Sección -->
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <img src="{% static 'img/irealm3/easy-3.jpg' %}" alt="Alto rendimiento" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3>{% trans 'Alto rendimiento' %}</h3>
            <p>
                {% trans 'iReal M3 presenta una precisión básica de hasta 0,1 mm y una precisión volumétrica de hasta 0,25 mm/m. Puede satisfacer las necesidades de captura de datos 3D en escenarios casi industriales para diversas escenas' %}.
            </p>
            <p>
                {% trans 'Con una resolución de hasta 0,1 mm, iReal M3 puede reconstruir estructuras geométricas de alta resolución y capturar detalles finos de los torsos, manejando fácilmente tareas de escaneo de objetos de más de 5 cm' %}.
            </p>
            <p>
                {% trans 'El ritmo de escaneo del iReal M3 alcanza los 15 fps, lo que mejora enormemente la eficiencia del escaneo para que los ingenieros puedan obtener rápidamente datos 3D de alta calidad' %}.
            </p>
        </div>
    </div>

    <!-- 5ta Sección -->
    <div class="row align-items-center d-none d-lg-flex py-5">
        <div class="col-md-6 order-md-2">
            <img src="{% static 'img/irealm3/easy-4.jpg' %}" alt="Adaptabilidad" class="img-fluid rounded">
        </div>
        <div class="col-md-6 order-md-1">
            <h3>{% trans 'Adaptabilidad a colores claros y oscuros' %}</h3>
            <p>
                {% trans 'En comparación con los láseres de color, las fuentes de luz infrarroja (luz invisible) se absorben relativamente menos cuando se proyectan sobre la superficie de diferentes colores. Por lo tanto, el Nuevo iReal M3, emparejado con luces infrarrojas, es más adaptable al escaneo 3D de objetos con colores intensos' %}.
            </p>
            <p>
                {% trans 'Gracias a su gran adaptabilidad a los materiales, es capaz de escanear en 3D piezas industriales, exteriores de automóviles e interiores con superficies negras y reflectantes' %}.
            </p>
        </div>
    </div>

    <!-- 6ta Sección -->
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <img src="{% static 'img/irealm3/easy-5.jpg' %}" alt="Aplicaciones multisectoriales" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h3>{% trans 'Aplicaciones multisectoriales' %}</h3>
            <p>
                {% trans 'Los modos de láser infrarrojo y luz estructurada del escáner 3D a color iReal M3 permiten la adquisición de datos 3D sin problemas en múltiples aplicaciones: personas, objetos, interiores, exteriores... iReal M3 ofrece soluciones de digitalización 3D profesionales y versátiles para satisfacer sus demandas de diseño industrial, diseño artístico, diseño médico, digitalización del cuerpo humano' %}, etc.
            </p>
            <ul>
                <li>{% trans 'Diseño industrial, diseño de ingeniería' %}</li>
                <li>{% trans 'Digitalización 3D del cuerpo' %}</li>
                <li>{% trans 'Arte y diseño' %}</li>
                <li>{% trans 'Análisis de modelos 3D' %}</li>
                <li>{% trans 'Investigación científica y educación' %}</li>
            </ul>
        </div>
    </div>

    <div class="row align-items-center d-none d-lg-flex py-5">
        <div class="col-md-6">
            <h3>{% trans 'Software de mapeado iReal 3D' %}</h3>
            <p>
                {% trans 'Solución de mapeo de texturas 3D de alta precisión y color real' %}.
            </p>
            <p>
                {% trans 'iReal 3D ofrece un software completo que soporta soluciones en tres aplicaciones principales: 
                adquisición de datos 3D de alta precisión y color real, diseño de ingeniería inversa y análisis de mediciones 3D' %}.
            </p>
            <p>
                {% trans 'iReal 3D Mapping se utiliza para mapear las fotos multilinguo tomadas por teléfonos móviles/SLR al modelo escaneado, 
                mediante un proceso inteligente y semiautomático para obtener un modelo 3D de alta precisión, alta definición y color real' %}.
            </p>
            <ul>
                <li><strong>{% trans 'Ingeniería inversa' %}:</strong>{% trans ' Software complementario Geomagic Design X, QUICKSURFACE, complementos Mesh2Surface' %}.</li>
                <li><strong>{% trans 'Mediciones y análisis 3D' %}:</strong>{% trans ' Software complementario GOM Inspect, GOM Inspect Pro, Geomagic Control X' %}.</li>
            </ul>
        </div>
        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="{% static 'img/irealm3/easy-6.jpg' %}" alt="Software de mapeado iReal 3D" class="img-fluid rounded">
        </div>
    </div>
        <!--==============================================
                este es un codigo aadaptado con bootstrap para moviles 
        ==================================================-->
       
        <div class="row align-items-center g-4 d-lg-none py-5">
            <!-- Imagen -->
            <div class="col-12 text-center">
                <img src="{% static 'img/irealm3/easy-6.jpg' %}" 
                     alt="{% trans 'Visual del software de mapeado iReal 3D con colores reales' %}" 
                     class="img-fluid rounded">
            </div>
            <!-- Texto -->
            <div class="col-12">
                <h3 class="fw-bold mb-3">{% trans 'Software de mapeado iReal 3D' %}</h3>
                <p class="text-muted">{% trans 'Solución de mapeo de texturas 3D de alta precisión y color real' %}.</p>
                <p class="text-muted">
                    {% trans 'iReal 3D ofrece un software completo que soporta soluciones en tres aplicaciones principales: adquisición de datos 3D de alta precisión y color real, diseño de ingeniería inversa y análisis de mediciones 3D' %}.
                </p>
                <p class="text-muted">
                    {% trans 'iReal 3D Mapping se utiliza para mapear las fotos multilinguo tomadas por teléfonos móviles/SLR al modelo escaneado, mediante un proceso inteligente y semiautomático para obtener un modelo 3D de alta precisión, alta definición y color real' %}.
                </p>
                <ul class="list-unstyled mt-3">
                    <li class="mb-2">
                        <strong>{% trans 'Ingeniería inversa:' %}</strong> 
                        {% trans 'Software complementario Geomagic Design X, QUICKSURFACE, complementos Mesh2Surface' %}.
                    </li>
                    <li class="mb-2">
                        <strong>{% trans 'Mediciones y análisis 3D:' %}</strong> 
                        {% trans 'Software complementario GOM Inspect, GOM Inspect Pro, Geomagic Control X' %}.
                    </li>
                </ul>
            </div>
        </div>
    </div>


<!--<div class="container my-5">
        <h3 class="text-center mb-4">{% trans 'Características' %}</h3>
        
        Tabla para escritorio
        <section>
            <h2>Especificaciones del Modelo iReal M3</h2>
            <table class="table-responsive-1" style="width: 100%; border-collapse: collapse; margin-top: 20px; border: 1px solid #ddd;">
                <tbody>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 249px;">Specifications&nbsp;</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">iReal M3</td>
                    </tr>
                    <tr>
                        <td rowspan="5" style="border: 1px solid #ddd; padding: 10px; width: 98px;">Dual Light Sources</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Light Sources</td>
                        <td style="border: 1px solid #ddd; padding: 10px;">Infrared Parallel Laser Lines</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">Infrared VCSEL Structured Light</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px;">Technology</td>
                        <td style="border: 1px solid #ddd; padding: 10px;">7 Infrared Parallel Laser Lines</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">Infrared Linear-array Structured Light (Speckle)</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px;">Visibility</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Invisible</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px;">Safety of Lasers</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">EN 60825 Class I Certificate (Eye-safe)</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px;">Safety of LED Lighting</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">EN 62471 Photobiological Safety Certificate</td>
                    </tr>
                    <tr>
                        <td rowspan="10" style="border: 1px solid #ddd; padding: 10px; width: 98px;">Scanning Characteristics</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Ability to Capture Texture</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 169px;">Yes</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Rapid Scan Mode</td>
                        <td style="border: 1px solid #ddd; padding: 10px;">/</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">Feature/Mixed/Texture Alignments</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">High-accuracy Scan Mode (on Object)</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Markers Alignment</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Human Body Scanning</td>
                        <td style="border: 1px solid #ddd; padding: 10px;">/</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">Invisible Light Scanning<br>Hair Scanning<br>Adapt to Dark Working Environments<br>Automatically Remove the Layers of Body Shaking</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="border: 1px solid #ddd; padding: 10px; width: 150px;">Scanning Range</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Optimal Scanning Distance: 400 mm</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Optimal Scanning Distance Range: 300-650 mm</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Effective Scanning Distance Range: 280-1000 mm</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 169px;">Max. Field of View: 400 x 240 mm</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">Max. Field of View: 580 x 550 mm</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Recommended Object Size</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 169px;">0.05-4 m</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">0.3-4 m</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Outdoor Scanning</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Support</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 98px;">Scanning Speed</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Max. Scanning Speed</td>
                        <td style="border: 1px solid #ddd; padding: 10px;">Up to 60 FPS</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">Up to 15 FPS</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 98px;">Fineness</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Point Distance</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 169px;">0.1-3 mm</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 183px;">0.2-3 mm</td>
                    </tr>
                    <tr rowspan="2" style="border: 1px solid #ddd;">
                        <td style="border: 1px solid #ddd; padding: 10px; width: 98px;">Accuracy</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Basic Accuracy</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Up to 0.1 mm</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Volumetric Accuracy</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Up to 0.25 mm/m</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border: 1px solid #ddd; padding: 10px; width: 98px;">Data Output</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Output Formats</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">*.obj, *.stl, *ply, *.asc, *.mk2, *.txt, *.epj, *.apj, *.spj, *.sk</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">The Ability for 3D Printing</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Yes</td>
                    </tr>
                    <tr>
                        <td rowspan="6" style="border: 1px solid #ddd; padding: 10px; width: 98px;">Hardware</td>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Built-in Camera Pixel</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">1.3 Million Pixels</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Working Temperature Range</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">-10～40℃</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Interface</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">USB 3.0</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ddd; padding: 10px; width: 150px;">Scanner Dimensions &amp; Weight</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">Dimensions: 140×94×258 mm; Weight: 856 g</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="border: 1px solid #ddd; padding: 10px; width: 150px;">Power Source</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">INPUT: 100-240VAC, 50/60Hz</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">OUTPUT: 24=3.75A, 90W MAX</td>
                    </tr>
                    <tr class="no-background">
                        <td style="border: 1px solid #ddd; padding: 10px;">Compliance</td>
                        <td style="border: 1px solid #ddd; padding: 10px;">Certifications</td>
                        <td colspan="2" style="border: 1px solid #ddd; padding: 10px; width: 352px;">CE-EMC, CE-LVD, FCC, RoHS, EN 60825, EN 62471, WEEE</td>
                    </tr>
                    <tr class="background-table">
                        <td colspan="4" style="border: 1px solid #ddd; padding: 10px; width: 602px;">*Accuracy: The deviation between the test value and the standard value is obtained by scanning a calibration reference sphere in the marker alignment mode.<br>*Our company reserves the right to explain and modify the described parameters and pictures in the brochure.</td>
                    </tr>
                </tbody>
            </table>
        </section>

        
    </div>-->

<!-- Carrusel pequeño y centrado -->
<div class="container d-flex justify-content-center my-4 py-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="max-width: 700px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-caroucel-1.png' %}" class="d-block w-100" alt="Tabla de especificaciones del escáner 3D iReal M3 con detalles técnicos y características principales">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carooucel-2.png' %}" class="d-block w-100" alt="Escáner 3D iReal M3 con diseño ergonómico y tecnología avanzada para digitalización precisa">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carousel-3.png' %}" class="d-block w-100" alt="Demostración del escaneo 3D de una motocicleta utilizando el escáner iReal M3">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carouse--4.png' %}" class="d-block w-100" alt="Escaneo 3D del cuerpo humano con luz dual utilizando el escáner iReal M3">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carousel-5.png' %}" class="d-block w-100" alt="Aplicaciones y análisis técnicos del escáner 3D iReal M3 en diseño industrial y digitalización de objeto">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



{% endblock %}