{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<title>NX_MODULAR | Indart3D</title>
<style>

</style>
{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal
==================================================-->


<div class="container py-5">
    <h2 class="text-center fw-bold mb-5 texto-azul-indart">AutoScan-K 3D</h2>
    <div class="row align-items-center py-5">
        <!-- Video -->
        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sJ40hyMjCHQ?si=fB5mLCis6agqmjeV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Texto descriptivo -->
        <div class="col-lg-6 p-5">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Sistema AutoScan-K 3D' %}</h3>
            <p class="text-muted">
                {% trans 'La serie AutoScan-K es un sistema de inspección 3D automático, que permite realizar la inspección sin contacto y no destructiva, aprovechando la tecnología de visión de máquina. Puede llevar a cabo eficazmente el escaneo e inspección por lotes en línea mientras garantiza una precisión ultra alta' %}.
            </p>
            <p class="text-muted">
                {% trans 'Con operación constante por 24 horas, el sistema AutoScan-K 3D ayuda a las empresas a reducir los costos de fabricación, acelerar el lanzamiento al mercado e incrementar el retorno de inversión' %}.
            </p>
            <p class="text-muted">
                {% trans 'Equipado con múltiples modos de trabajo, el sistema AutoScan-K 3D puede adaptarse a la medición en varias escenas industriales. Además, controla con precisión los movimientos del robot basados en algoritmos avanzados, realizando la inspección eficiente y automática' %}.
            </p>
        </div>
    </div>



<!--============================================
        segunda seccion "inspeccion"
===============================================-->


    <div class="row align-items-center py-5 d-none d-lg-flex">
        <!-- Texto descriptivo -->
        <div class="col-lg-6 p-5">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Inspección automática durante todo el proceso' %}</h3>
            <p class="text-muted">
                {% trans 'El AutoScan-K puede llevar a cabo automáticamente, sin la intervención humana, el escaneado e inspección en 3D por lotes para la comparación de datos y generar informes de inspección después de configurar rutas de escaneado y procesos de medición para diferentes productos' %}.
            </p>
        </div>

        <!-- Imagen -->
        <div class="col-lg-6">
            <img src="{% static 'img/inspeccionk.jpg' %}" alt="Inspección automática" class="img-fluid rounded shadow">
        </div>
    </div>

<!--============================================
        segunda seccion duplicada para adapatarce
        a moviles "inspeccion"
===============================================-->


<div class="row align-items-center py-5 d-flex d-lg-none">
    <!-- Imagen -->
    <div class="col-lg-6">
        <img src="{% static 'img/inspeccionk.jpg' %}" alt="Inspección automática" class="img-fluid rounded shadow">
    </div>

    <!-- Texto descriptivo -->
    <div class="col-lg-6 p-5">
        <h3 class="fw-bold texto-azul-indart">{% trans 'Inspección automática durante todo el proceso' %}</h3>
        <p class="text-muted">
            {% trans 'El AutoScan-K puede llevar a cabo automáticamente, sin la intervención humana, el escaneado e inspección en 3D por lotes para la comparación de datos y generar informes de inspección después de configurar rutas de escaneado y procesos de medición para diferentes productos' %}.
        </p>
    </div>

</div>


<!--=================================================
        tercera seccion  "Operacion personalizada"
====================================================-->


    <div class="row align-items-center py-5">
        <!-- Imagen -->
        <div class="col-lg-6">
            <img src="{% static 'img/inspeccionk2.jpg' %}" alt="Operación personalizada" class="img-fluid rounded">
        </div>
        <!-- Texto -->
        <div class="col-lg-6 p-5">
            <h2 class="fw-bold texto-azul-indart">{% trans 'Operación personalizada' %}</h2>
            <p class="text-muted">
                {% trans 'Se ofrecen múltiples modos de medición de acuerdo con las características de diferentes piezas. Para satisfacer los diferentes requisitos de inspección, las piezas se pueden sujetar desde múltiples ángulos para configurar las rutas de inspección' %}.
            </p>
        </div>
    </div>


<!--=================================================
        cuarta seccion  "NTD seguro y confiable"
====================================================-->

    <div class="row align-items-center py-5 d-none d-lg-flex">
        <!-- Texto -->
        <div class="col-lg-6 p-5">
            <h2 class="fw-bold texto-azul-indart">{% trans 'NDT seguro y confiable' %}</h2>
            <p class="text-muted">
                {% trans 'El AutoScan-K logra realmente la prueba inteligente sin contacto y no destructiva basada en la tecnología de medición óptica automatizada, que es segura, confiable y aplicable a diferentes entornos de taller. Sus mesas giratorias inteligentes industriales hacen posible la inspección eficiente sin ángulos ciegos' %}.
            </p>
        </div>
        <!-- Imagen -->
        <div class="col-lg-6">
            <img src="{% static 'img/ntd-seguroyconfiable.jpg' %}" alt="NDT seguro y confiable" class="img-fluid rounded">
        </div>
    </div>


    <!--=================================================
        cuarta seccion duplicada para adapatar a moviles
         "NTD seguro y confiable"
====================================================-->

<div class="row align-items-center py-5 d-flex d-lg-none">
    <!-- Imagen -->
    <div class="col-lg-6">
        <img src="{% static 'img/ntd-seguroyconfiable.jpg' %}" alt="NDT seguro y confiable" class="img-fluid rounded">
    </div>
    <!-- Texto -->
    <div class="col-lg-6 p-5">
        <h2 class="fw-bold texto-azul-indart">{% trans 'NDT seguro y confiable' %}</h2>
        <p class="text-muted">
            {% trans 'El AutoScan-K logra realmente la prueba inteligente sin contacto y no destructiva basada en la tecnología de medición óptica automatizada, que es segura, confiable y aplicable a diferentes entornos de taller. Sus mesas giratorias inteligentes industriales hacen posible la inspección eficiente sin ángulos ciegos' %}.
        </p>
    </div>
</div>



<!--=================================================
        quinta seccion  "Medicion precisa"
====================================================-->


    <div class="row align-items-center py-5">
        <!-- Imagen -->
        <div class="col-lg-6 ">
            <img src="{% static 'img/inspeccionk2.jpg' %}" alt="Operación personalizada" class="img-fluid rounded">
        </div>
        <!-- Texto -->
        <div class="col-lg-6 p-5">
            <h2 class="fw-bold texto-azul-indart">{% trans 'Medición precisa y efectiva' %}</h2>
            <p class="text-muted">{% trans 'El AutoScan-K puede inspeccionar piezas de diferentes tamaños y pesos y las hechas de diferentes materiales. Puede generar hasta 45 líneas láser para el escaneado de datos de alta densidad, con la velocidad de hasta 1,650,000 por segundo. Permite una inspección precisa 3D en ambiente hostil industrial con resolución de hasta 0,010 mm y precisión de hasta 0,030 mm/m' %}.
            </p>
            <p>
                <b>{% trans 'Desarrollo Secundario' %}</b>{% trans 'El desarrollo secundario permite a los operadores controlar el sistema llamando a la interfaz SDK' %}.
            </p>
        </div>
    </div>
</div>


<!--=======================================================
                seccion de la tabla                         
===================================================-->
<div class="container">

    <section>
        <h2 class="texto-azul-indart" style="text-align: center;">Especificaciones de los Modelos AutoScan</h2>
        <table class="table-responsive-1" style="width: 100%; border-collapse: collapse; margin-top: 20px; border: 1px solid #ddd;">
            <tbody>
                <tr>
                    <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Tipo</th>
                    <th style="border: 1px solid #ddd; padding: 10px;">AutoScan-KM II</th>
                    <th style="border: 1px solid #ddd; padding: 10px;">AutoScan-KM</th>
                    <th style="border: 1px solid #ddd; padding: 10px;">AutoScan-K20</th>
                </tr>
                <tr class="double">
                    <td rowspan="4" style="border: 1px solid #ddd; padding: 10px;">Modo de escaneo</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Escaneado ultrarrápido</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">13 cruces láser azules</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">11 cruces láser azules</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">7 cruces láser rojas</td>
                </tr>
                <tr class="double">
                    <td style="border: 1px solid #ddd; padding: 10px;">Exploración hiperfina</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">7 cruces láser rojas</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">5 líneas láser azules paralelas</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Exploración de grandes superficies</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">11 líneas láser infrarrojas paralelas</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">–</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Exploración de agujeros profundos</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">1 línea láser azul adicional</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">1 línea láser roja adicional</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Líneas láser en total</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">45</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">41</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">20</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Precisión</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">Hasta 0.020 mm</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Velocidad de escaneo</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 1.650.000 mediciones/s</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 1.350.000 mediciones/s</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 650.000 mediciones/s</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Área de escaneo</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Hasta 1440 mm × 860 mm</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 550 mm × 600 mm</td>
                </tr>
                <tr class="double">
                    <td rowspan="3" style="border: 1px solid #ddd; padding: 10px;">Sistema de fotogrametría</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Configuración estándar</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">Integrado en</td>
                </tr>
                <tr class="double">
                    <td style="border: 1px solid #ddd; padding: 10px;">Área de escaneo</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">3760 mm × 3150 mm</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">2500 mm × 3000 mm</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Profundidad de campo</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">2500 mm</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Clase láser</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">CLASE Ⅱ (seguro para los ojos)</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Resolución</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">0.010 mm</td>
                </tr>
                <tr class="double">
                    <td rowspan="3" style="border: 1px solid #ddd; padding: 10px;">Precisión volumétrica</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Trabajar solo</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">0.015 mm + 0.030 mm/m</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">0.015 mm + 0.035 mm/m</td>
                </tr>
                <tr class="double">
                    <td style="border: 1px solid #ddd; padding: 10px;">Trabajar con una barra de referencia de 1m</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">0.015 mm + 0.020 mm/m</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Trabajar con MSCAN-L15</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">0.015 mm + 0.015 mm/m</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Profundidad de campo</td>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">925 mm</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">450 mm</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Formatos de salida</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">.stl, .ply, .obj, .igs, .stp, .wrl, .xyz, .dae, .fbx, .ma, .asc or customized</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Rango de temperatura de funcionamiento</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">-10℃ – 40℃</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Modo de interfaz</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">USB 3.0</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Patentes</td>
                    <td colspan="3" style="border: 1px solid #ddd; padding: 10px;">CN204329903U, CN104501740B, CN104165600B, CN204988183U, CN204854633U, CN204944431U, CN204902788U, CN105068384B, CN105049664B, CN204902784U, CN204963812U, CN204902785U, CN204902790U, CN106403845B, CN209197685U, CN209263911U, CN106500627B, CN106500628B, CN206132003U, CN206905709U, CN107202554B, CN209310754U, CN209485295U, CN209485271U, CN305446920S, CN209991946U, US10309770B2, KR102096806B1, KR102209255B1, US10914576B2, EP3392831A4</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>



<!--=============================================
        carousel de la parte final
==================================================-->

<div class="container d-flex justify-content-center my-4 py-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="max-width: 700px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-caroucel-1.png' %}" class="d-block w-100" alt="Tabla de especificaciones del escáner 3D iReal M3 con detalles técnicos y características principales">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carooucel-2.png' %}" class="d-block w-100" alt="Escáner 3D iReal M3 con diseño ergonómico y tecnología avanzada para digitalización precisa">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carousel-3.png' %}" class="d-block w-100" alt="Demostración del escaneo 3D de una motocicleta utilizando el escáner iReal M3">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carouse--4.png' %}" class="d-block w-100" alt="Escaneo 3D del cuerpo humano con luz dual utilizando el escáner iReal M3">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carousel-5.png' %}" class="d-block w-100" alt="Aplicaciones y análisis técnicos del escáner 3D iReal M3 en diseño industrial y digitalización de objeto">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



{% endblock %}