{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<title>NX_MODULAR | Indart3D</title>
<style>

</style>
{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal
==================================================-->



<div class="container py-5">
    <!-- Primera Sección -->
    <div class="text-center mb-5">
        <h1 class="fw-bold texto-azul-indart">AutoScan-T42 3D</h1>
    </div>
    <div class="row align-items-center">
        <!-- Video -->
        <div class="col-lg-6">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Yw7CJgydcEA?si=GTr7XUqAiqhDBYuU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <!-- Texto -->
        <div class="col-lg-6 p-4">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Sistema AutoScan-T42 3D' %}</h3>
            <p>
                {% trans 'El sistema automatizado AutoScan-T42 3D es una nueva actualización para la inspección automática inteligente. Está diseñado especialmente para el control de calidad automatizado en los talleres, facilitando a las empresas alcanzar la coincidencia óptima entre costo y eficiencia' %}.
            </p>
            <p>
                {% trans 'El AutoScan-T42 conduce el escaneado no destructivo sin adjuntar marcadores. Su conexión perfecta con la línea de producción contribuye considerablemente a reducir el volumen del trabajo. La calidad de fabricación del grado militar cuenta con fuerte anti-interferencia y alta adaptación al entorno de taller complejo y hostil' %}.
            </p>
        </div>
    </div>
<!--============================================
        segunda seccion "línea de producción"
===============================================-->

    <!-- Segunda Sección -->
    <div class="row align-items-center py-5 d-none d-lg-flex">
        <!-- Texto -->
        <div class="col-lg-6">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Funciona perfectamente con línea de producción' %}</h3>
            <p>
                {% trans 'Basado en el seguimiento óptico automático e integrado perfectamente en la línea de producción, está diseñado para la inspección por lotes online y mejora en gran medida la eficiencia iterativa del proceso de producción' %}.
            </p>
        </div>
        <!-- Imagen -->
        <div class="col-lg-6 text-center">
            <img src="{% static 'img/autoscant42-1.jpg' %}" alt="Línea de producción" class="img-fluid rounded">
        </div>
    </div>

    <!--============================================
        segunda seccion duplicada adaptada para moviles "línea de producción"
===============================================-->

    <!-- Segunda Sección -->
    <div class="row align-items-center py-5 d-flex d-lg-none">
        <!-- Imagen -->
        <div class="col-lg-6 text-center">
            <img src="{% static 'img/autoscant42-1.jpg' %}" alt="Línea de producción" class="img-fluid rounded">
        </div>
        <!-- Texto -->
        <div class="col-lg-6">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Funciona perfectamente con línea de producción' %}</h3>
            <p>
                {% trans 'Basado en el seguimiento óptico automático e integrado perfectamente en la línea de producción, está diseñado para la inspección por lotes online y mejora en gran medida la eficiencia iterativa del proceso de producción' %}.
            </p>
        </div>
    </div>


<!--============================================
        tercera seccion "línea de producción"
===============================================-->

    <div class="row align-items-center py-5">
        <div class="col-lg-6 text-center order-lg-1">
            <img src="{% static 'img/autoscant42-2.jpg' %}" class="img-fluid" alt="Múltiples configuraciones">
        </div>
        <div class="col-lg-6 order-lg-2">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Múltiples configuraciones' %}</h3>
            <p class="text-muted">
                {% trans 'En combinación con el escáner de mano 3D, CMM portátil, sistema de fotogrametría MSCAN, plataformas giratorias y rieles-guía, realizando simultáneo seguimiento óptico y escaneado y soluciones personalizadas' %}.
            </p>
        </div>
    </div>

<!--============================================
       cuarta seccion "línea de producción"
===============================================-->
    <div class="row align-items-center py-5 d-none d-lg-flex">
        <div class="col-lg-6 order-lg-2 text-center">
            <img src="{% static 'img/autoscant42-3.jpg' %}" class="img-fluid" alt="Acelerar la inspección precisa">
        </div>
        <div class="col-lg-6 order-lg-1">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Acelerar la inspección precisa' %}</h3>
            <p class="text-muted">
               {% trans 'Adoptando láser azul y tecnologías de seguimiento simultáneo, alcanza hasta 1,900,000 mediciones/s y una precisión de 0,025 mm. La fabricación automatizada eficiente y flexible puede lograrse sin verse afectada por factores externos' %}.
            </p>
        </div>
    </div>

    <!--============================================
       cuarta seccion duplicada adaptada para moviles "línea de producción"
===============================================-->
<div class="row align-items-center py-5 d-flex d-lg-none">
    <div class="col-lg-6 order-lg-1">
        <h3 class="fw-bold texto-azul-indart">{% trans 'Acelerar la inspección precisa' %}</h3>
        <p class="text-muted">
            {% trans 'Adoptando láser azul y tecnologías de seguimiento simultáneo, alcanza hasta 1,900,000 mediciones/s y una precisión de 0,025 mm. La fabricación automatizada eficiente y flexible puede lograrse sin verse afectada por factores externos¡' %}.
        </p>
    </div>
    <div class="col-lg-6 order-lg-2 text-center">
        <img src="{% static 'img/autoscant42-3.jpg' %}" class="img-fluid" alt="Acelerar la inspección precisa">
    </div>
</div>

   <!--============================================
        quinta seccion "línea de producción"
===============================================-->
    <div class="row align-items-center py-5 d-none d-lg-flex">
        <div class="col-lg-6 text-center">
            <img src="{% static 'img/autoscan-t42-4.jpg' %}" class="img-fluid" alt="Calidad de grado militar">
        </div>
        <div class="col-lg-6">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Calidad de grado militar' %}</h3>
            <p class="text-muted">
                {% trans 'El diseño del grado militar presenta una adaptabilidad excelente en entornos hostiles industriales sin ser insensible a la temperatura, la vibración, el polvo' %}, etc.
            </p>
            <h5 class="fw-bold texto-azul-indart">{% trans 'Operación Simple' %}</h5>
            <p class="text-muted">
                {% trans 'Gracias al arranque con un clic, programación offline y generación automática de inspección, los usuarios operen y completan la medición fácilmente sin importar su experiencia' %}.
            </p>
        </div>
    </div>

       <!--============================================
        quinta seccion duplicada y adaptada para moviles "línea de producción"
    ===============================================-->
    <div class="row align-items-center py-5 d-flex d-lg-none">
        <div class="col-lg-6">
            <h3 class="fw-bold texto-azul-indart">{% trans 'Calidad de grado militar' %}</h3>
            <p class="text-muted">
                {% trans 'El diseño del grado militar presenta una adaptabilidad excelente en entornos hostiles industriales sin ser insensible a la temperatura, la vibración, el polvo, etc' %}.
            </p>
            <h5 class="fw-bold texto-azul-indart">{% trans 'Operación Simple' %}</h5>
            <p class="text-muted">
                {% trans 'Gracias al arranque con un clic, programación offline y generación automática de inspección, los usuarios operen y completan la medición fácilmente sin importar su experiencia' %}.
            </p>
        </div>
        <div class="col-lg-6 text-center">
            <img src="{% static 'img/autoscan-t42-4.jpg' %}" class="img-fluid" alt="Calidad de grado militar">
        </div>
    </div>
</div>
<!--=======================================================
               seccino de caracteristicas
===========================================================-->
<!--<div class="container my-5 d-none d-md-block">
    <h3 class="text-center mb-4">{% trans 'Características' %}</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Tipo</th>
                    <td>AutoScan-T42</td>
                </tr>
                <tr>
                    <th scope="row">Modo de escaneo</th>
                    <td>
                        <p>Escaneado ultrarrápido: 17 cruces láser azules</p>
                        <p>Modo hiperfino B: 7 líneas láser azules paralelas</p>
                        <p>Exploración de agujeros profundos: 1 línea láser azul adicional</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Líneas láser en total</th>
                    <td>42</td>
                </tr>
                <tr>
                    <th scope="row">Precisión</th>
                    <td>Hasta 0.025 mm</td>
                </tr>
                <tr>
                    <th scope="row">Tasa de medición</th>
                    <td>Hasta 1,900,000 mediciones/s</td>
                </tr>
                <tr>
                    <th scope="row">Área de escaneo</th>
                    <td>Hasta 310 mm × 350 mm</td>
                </tr>
                <tr>
                    <th scope="row">Clase láser</th>
                    <td>CLASS II (eye-safe)</td>
                </tr>
                <tr>
                    <th scope="row">Resolución</th>
                    <td>0.020 mm</td>
                </tr>
                <tr>
                    <th scope="row">Precisión volumétrica</th>
                    <td>
                        <p>10.4 m³: 0.064 mm</p>
                        <p>18.0 m³: 0.078 mm</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Precisión volumétrica (Con el sistema de fotogrametría MSCAN-L15)</th>
                    <td>0.044 mm + 0.015 mm/m</td>
                </tr>
                <tr>
                    <th scope="row">Part size range (recommended)</th>
                    <td>200 - 6000 mm</td>
                </tr>
                <tr>
                    <th scope="row">Distancia de separación</th>
                    <td>300 mm</td>
                </tr>
                <tr>
                    <th scope="row">Profundidad de campo</th>
                    <td>400 mm</td>
                </tr>
                <tr>
                    <th scope="row">Formatos de salida</th>
                    <td>.stl, .ply, .obj, .igs, .wrl, .xyz, .dae, .fbx, .ma, .asc or customized</td>
                </tr>
                <tr>
                    <th scope="row">Rango de temperatura de funcionamiento</th>
                    <td>-10°C - 40°C</td>
                </tr>
                <tr>
                    <th scope="row">Modo de interfaz</th>
                    <td>USB 3.0</td>
                </tr>
                <tr>
                    <th scope="row">Patentes</th>
                    <td>
                        CN204329903U, CN104501740B, CN104166608B, CN204988183U, CN204854833U, CN204944431U, CN204902788U,
                        CN105068384B, CN105046648B, CN204902784U, CN204963812U, CN204902785U, CN204902790U, CN104603845B,
                        CN209978785U, CN209263911U, CN106500627B, CN106500628B, CN206120303U, CN21121089U, US10309770B2,
                        KR102098608B1, EP3392831A4
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!--=====================================================
                este es el espacio para la tabla
==========================================================-->
    <!--<section>
        <h2>Especificaciones del Modelo AutoScan-T42</h2>
        <table class="table-responsive-1" style="width: 100%; border-collapse: collapse; margin-top: 20px; border: 1px solid #ddd;">
            <tbody>
                <tr>
                    <th colspan="2" style="border: 1px solid #ddd; padding: 10px;">Tipo</th>
                    <th style="border: 1px solid #ddd; padding: 10px;">AutoScan-T42</th>
                </tr>
                <tr class="double">
                    <td rowspan="3" style="border: 1px solid #ddd; padding: 10px;"><strong>Modo de escaneo</strong></td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Escaneado ultrarrápido</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">17 cruces láser azules</td>
                </tr>
                <tr class="double">
                    <td style="border: 1px solid #ddd; padding: 10px;">Modo hiperfino B</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">7 líneas láser azules paralelas</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 10px;">Exploración de agujeros profundos</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">1 línea láser azul adicional</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Líneas láser en total</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">42</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Precisión</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 0.025 mm</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Tasa de medición</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 1.900.000 mediciones/s</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Área de escaneo</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">Hasta 310 mm × 350 mm</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Clase láser</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">CLASS Ⅱ (eye-safe)</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Resolución</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">0.020 mm</td>
                </tr>
                <tr class="double">
                    <td rowspan="2" style="border: 1px solid #ddd; padding: 10px;"><strong>Precisión volumétrica</strong></td>
                    <td style="border: 1px solid #ddd; padding: 10px;">10.4 m³</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">0.064 mm</td>
                </tr>
                <tr class="double">
                    <td style="border: 1px solid #ddd; padding: 10px;">18.0 m³</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">0.078 mm</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Precisión volumétrica (Con el sistema de fotogrametría MSCAN-L15)</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">0.044 mm + 0.015 mm/m</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Part size range (recommended)</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">200 ~ 6000 mm</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Distancia de separación</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">300 mm</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Profundidad de campo</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">400 mm</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Formatos de salida</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">.stl, .ply, .obj, .igs, wrl, .xyz, .dae, .fbx, .ma, .asc or customized</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Rango de temperatura de funcionamiento</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">-10℃ – 40℃</td>
                </tr>
                <tr class="double">
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Modo de interfaz</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">USB 3.0</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">Patentes</td>
                    <td style="border: 1px solid #ddd; padding: 10px;">CN204329903U, CN104501740B, CN104165600B, CN204988183U, CN204854633U, CN204944431U, CN204902788U, CN105068384B, CN105049664B, CN204902784U, CN204963812U, CN204902785U, CN204902790U, CN106403845B, CN209197685U, CN209263911U, CN106500627B, CN106500628B, CN206132003U, CN211121096U, US10309770B2, KR102096806B1, EP3392831A4</td>
                </tr>
            </tbody>
        </table>
    </section>
-->

<!--=============================================
        carousel de la parte final
==================================================-->

<div class="container d-flex justify-content-center my-4 py-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="max-width: 700px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-caroucel-1.png' %}" class="d-block w-100" alt="Tabla de especificaciones del escáner 3D iReal M3 con detalles técnicos y características principales">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carooucel-2.png' %}" class="d-block w-100" alt="Escáner 3D iReal M3 con diseño ergonómico y tecnología avanzada para digitalización precisa">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carousel-3.png' %}" class="d-block w-100" alt="Demostración del escaneo 3D de una motocicleta utilizando el escáner iReal M3">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carouse--4.png' %}" class="d-block w-100" alt="Escaneo 3D del cuerpo humano con luz dual utilizando el escáner iReal M3">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% static 'doc/IREAL-M3-es.pdf' %}" target="_blank">
                    <img src="{% static 'img/irealm3/Captura-carousel-5.png' %}" class="d-block w-100" alt="Aplicaciones y análisis técnicos del escáner 3D iReal M3 en diseño industrial y digitalización de objeto">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


{% endblock %}