{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<title>NX_MODULAR | Indart3D</title>

<style>
    table {
        font-size: 14px;
        border-collapse: collapse;
    }
    table th {
        background-color: #f8f9fa;
        font-weight: bold;
        text-align: center;
    }
    table th, table td {
        border: 1px solid #dee2e6;
        padding: 10px;
        vertical-align: middle;
    }
    table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    table tbody tr:hover {
        background-color: #e9ecef;
    }
    @media (max-width: 768px) {
        table {
            font-size: 12px;
        }
    }
</style>
{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal
==================================================-->


<section class="py-5 text-center text-white" style="background: linear-gradient(180deg, #3b3d49, #323441);">
  <div class="container">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <!-- Slide 1 -->
              <div class="carousel-item active">
                  <h1 class="fw-bold">Sequi ea ut et est quaerat</h1>
                  <p class="mb-4">
                      Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. 
                      Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus 
                      deleniti vel. Minus et tempore modi architecto.
                  </p>
              </div>
              <!-- Slide 2 -->
              <div class="carousel-item">
                  <h1 class="fw-bold">Lorem ipsum dolor sit amet</h1>
                  <p class="mb-4">
                      Consequatur, aspernatur sint quam nesciunt officia. Recusandae alias quod repellendus. Fugit minus 
                      temporibus molestias ipsum totam.
                  </p>
              </div>
          </div>
          <!-- Controles -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</section>
<!--====================================================
        seccion sobre el producto
========================================================-->
<section class="py-5 bg-light">
  <div class="container">
    <!-- Encabezado -->
    <div class="text-center mb-5">
      <h2 class="fw-bold">TUMAKER BF MODULAR</h2>
      <spam class="text-muted">(Pellets / Filamento)<br>{% trans 'Sistema de Cabezales Independientes, Modulares e Intercambiables' %}.</spam>
    </div>

    <div class="row align-items-center">
      <!-- Imagen -->
      <div class="col-lg-6 col-md-5 order-1 order-lg-2 text-center mb-4 mb-lg-0">
        <img src="{% static 'img/bf_modular/Adobe Express - file.png' %}" alt="Impresora 3D BigFoot Modular" 
          class="img-fluid">
      </div>

      <!-- Texto -->
      <div class="col-lg-6 col-md-7 order-2 order-lg-1 py-5">
        <h2 class="fw-bold mb-4 texto-azul-indart">Tumaker BF Modular</h2>
        <p class="text-muted">
          {% trans 'La Tumaker BigFoot Modular es una impresora 3D diseñada para redefinir la fabricación aditiva a gran escala. Gracias a su sistema modular de cabezales intercambiables e independientes, esta impresora combina flexibilidad y rendimiento, adaptándose a las necesidades de los usuarios más exigentes' %}.
        </p>
        <p class="text-muted">
          {% trans 'Con capacidad para integrar hasta dos cabezales, la BigFoot Modular ofrece la posibilidad de trabajar con tecnología de Pellets o Filamento, permitiendo personalizar cada equipo según las demandas específicas de cada proyecto. Este enfoque modular, combinado con su amplio volumen de impresión de 500 x 500 x 500 mm, la convierte en la herramienta ideal para producir piezas funcionales y complejas con una precisión sobresaliente' %}.
        </p>
        <p class="text-muted mb-0">
          {% trans 'Su estructura completamente cerrada, equipada con filtros, asegura un entorno de trabajo seguro y limpio, mientras que su diseño robusto garantiza fiabilidad incluso en los entornos industriales más exigentes' %}.
        </p>
      </div>
    </div>
  </div>
</section>

  <!--====================================================
        Seccion de la definicion mas grande del producto
  ========================================================-->
  <section class="py-5 bg-white">
    <div class="container">
      <div class="row align-items-center position-relative">
        <!-- Imagen principal -->
        <div class="col-lg-4 col-md-5 text-center mb-4 mb-md-0 position-relative">
          <!-- Imagen grande -->
          <img src="{% static 'img/bf_modular/1.0_BF_Modular_Pegatinas_Ind-removebg-preview.png' %}" alt="Extrusor de Filamento" class="img-fluid">
        </div>
  
        <!-- Texto -->
        <div class="col-lg-8 col-md-7 py-3">
          <h2 class="fw-bold mb-4 texto-azul-indart">{% trans 'Extrusor de Pellets: Rendimiento y Materiales Avanzados' %}</h2>
          <p class="text-muted">
            {% trans 'El extrusor de pellets Modular está diseñado para ofrecer un rendimiento excepcional con una amplia variedad de materiales. Al utilizar pellets como materia prima, este sistema permite a los usuarios explorar nuevas posibilidades en fabricación aditiva, desde polímeros reciclados hasta compuestos técnicos de alta resistencia' %}.
            </p>
          <p class="text-muted">
            {% trans 'Esta tecnología ofrece la capacidad de producir piezas grandes y detalladas a alta velocidad, optimizando tanto el flujo de trabajo como el control sobre las propiedades finales de los materiales. Ideal para aplicaciones en sectores como la investigación, el diseño industrial, la arquitectura y la educación, el extrusor de pellets se destaca por su versatilidad y capacidad para abordar los proyectos más ambiciosos' %}.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--====================================================
        seccion sobre las caracteristicas del producto
  =======================================================-->
  <section class="py-5" style="background: url('{% static "img/nx_modular/material-3d-pellet.webp" %}') no-repeat center center/cover; background-attachment: fixed; position: relative;">
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); z-index: 1;"></div>
    <div class="container position-relative" style="z-index: 2;">
      <!-- Encabezado -->
      <div class="text-center mb-5">
        <h2 class="fw-bold texto-azul-indart">{% trans 'Características clave del extrusor de pellets' %}:</h2>
        <spam class="text-white">{% trans 'Diseñado para ofrecer un rendimiento excepcional con materiales avanzados' %}.</spam>
      </div>
  
      <!-- Contenido principal -->
      <div class="row g-4 align-items-center">
        <!-- Columna izquierda: Características -->
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="row g-4">
            <!-- Tarjeta 1 -->
            <div class="col-md-6">
              <div class="p-4 shadow rounded bg-white">
                <h5 class="fw-bold texto-azul-indart">{% trans 'Compatibilidad' %}</h5>
                <p class="text-muted mb-0">{% trans 'Compatibilidad con el Alimentador de Pellets para un flujo de material constante' %}.</p>
              </div>
            </div>
            <!-- Tarjeta 2 -->
            <div class="col-md-6">
              <div class="p-4 shadow rounded bg-white">
                <h5 class="fw-bold texto-azul-indart">{% trans 'Tamaño' %}</h5>
                <p class="text-muted mb-0">{% trans 'Tamaño de pellet recomendado: 3-5 mm de diámetro' %}.</p>
              </div>
            </div>
            <!-- Tarjeta 3 -->
            <div class="col-md-6">
              <div class="p-4 shadow rounded bg-white">
                <h5 class="fw-bold texto-azul-indart">{% trans 'Temperatura' %}</h5>
                <p class="text-muted mb-0">{% trans 'Temperatura máxima del cabezal: hasta 300 ºC para materiales técnicos avanzados' %}.</p>
              </div>
            </div>
            <!-- Tarjeta 4 -->
            <div class="col-md-6">
              <div class="p-4 shadow rounded bg-white">
                <h5 class="fw-bold texto-azul-indart">{% trans 'Boquillas intercambiables' %}</h5>
                <p class="text-muted mb-0">{% trans 'Boquillas compatibles: 0,4 mm | 0,6 mm | 0,8 mm (incluida) | 2,0 mm | 4,0 mm | 5,0 mm, ajustadas a diferentes aplicaciones' %}.</p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Columna derecha: Imagen -->
        <div class="col-lg-6 order-1 order-lg-2 text-center">
          <img src="{% static 'img/nx_modular/Impresora-3D-tumakaer-nx-modular-cabezal-pellets-1.png' %}" alt="Características del Extrusor de Pellets" 
            class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
<!--==============================================================
            esta es la seccion para  el extrusor de filamento
==================================================================-->
<section class="py-5 bg-white">
  <div class="container">
    <div class="row align-items-center position-relative">
      <!-- Imagen principal -->
      <div class="col-lg-4 col-md-5 text-center mb-4 mb-md-0 position-relative">
        <!-- Imagen grande -->
        <img src="{% static 'img/bf_modular/BM_Frente_Sup_SinFondo_1.png' %}" alt="Extrusor de Filamento" class="img-fluid">
        <!-- Imagen superpuesta -->
        <img src="{% static 'img/nx_modular/Hemera_V2.png' %}" alt="Extrusor Pequeño" 
          class="position-absolute img-fluid"
          style="width: 300px; bottom: -60px; left: 50%; transform: translateX(-50%); z-index: 2;">
      </div>

      <!-- Texto -->
      <div class="col-lg-8 col-md-7 py-3">
        <h2 class="fw-bold mb-4 texto-azul-indart">{% trans 'Extrusor de Filamento: Precisión y Flexibilidad en Cada Detalle' %}</h2>
        <p class="text-muted">
          {% trans 'El cabezal de filamento Direct Drive HR de la BigFoot Modular está diseñado para aquellos que buscan precisión y consistencia en sus proyectos. Capaz de trabajar con bobinas de hasta 8 kg, este sistema es compatible con una amplia gama de materiales, desde plásticos estándar como PLA y ABS, hasta polímeros técnicos como NYLON o TPU' %}.
        </p>
        <p class="text-muted">
          {% trans 'Con su capacidad para ofrecer resultados fiables en condiciones de alta demanda, este extrusor es una herramienta clave para sectores industriales, educativos y creativos, donde a precisión y la versatilidad son fundamentales' %}.
        </p>
      </div>
    </div>
  </div>
</section>


<!--================================================================
            seccion para  caractaristicas de filamento
====================================================================-->
<section class="py-5" style="background: url('{% static "img/nx_modular/background-filament.webp" %}') no-repeat center center/cover; background-attachment: fixed;">
  <div class="container">
    <!-- Contenido principal -->
    <div class="row g-4 align-items-center">
      <!-- Columna derecha: Características (móviles primero) -->
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="text-center text-lg-start">
          <h2 class="fw-bold texto-azul-indart">{% trans 'Características clave del extrusor de filamento Direct Drive HR' %}:</h2>
          <p class="text-muted">{% trans 'Optimizado para ofrecer precisión y versatilidad en impresión 3D' %}.</p>
        </div>
        <div class="row g-4">
          <!-- Tarjeta 1 -->
          <div class="col-md-6">
            <div class="p-4 shadow rounded bg-white">
              <div class="mb-3">
                <i class="bi bi-archive text-primary fs-1"></i>
              </div>
              <h5 class="fw-bold">{% trans 'Capacidad' %}</h5>
              <p class="text-muted mb-0">{% trans 'Capacidad de impresión con bobinas de hasta 8 kg' %}.</p>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="col-md-6">
            <div class="p-4 shadow rounded bg-white">
              <div class="mb-3">
                <i class="bi bi-thermometer-half text-primary fs-1"></i>
              </div>
              <h5 class="fw-bold">{% trans 'Temperatura' %}</h5>
              <p class="text-muted mb-0">{% trans 'Temperatura máxima: hasta' %} 300 ºC.</p>
            </div>
          </div>

          <!-- Tarjeta 3 -->
          <div class="col-md-6">
            <div class="p-4 shadow rounded bg-white">
              <div class="mb-3">
                <i class="bi bi-tools text-primary fs-1"></i>
              </div>
              <h5 class="fw-bold">{% trans 'Boquillas intercambiables' %}</h5>
              <p class="text-muted mb-0">
                {% trans 'Boquillas' %}: 0,15 mm | 0,25 mm | 0,4 mm (incluida) | 0,6 mm | 0,8 mm.
              </p>
            </div>
          </div>

          <!-- Tarjeta 4 -->
          <div class="col-md-6">
            <div class="p-4 shadow rounded bg-white">
              <div class="mb-3">
                <i class="bi bi-droplet text-primary fs-1"></i>
              </div>
              <h5 class="fw-bold">{% trans 'Materiales optimizados' %}</h5>
              <p class="text-muted mb-0">ABS, ASA, PLA, NYLON, PET-G, PP, TPU, {% trans 'entre otros' %}.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Columna izquierda: Imagen -->
      <div class="col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center">
          <img src="{% static 'img/nx_modular/Hemera_V2.png' %}" alt="Imagen del extrusor de filamento"
            class="img-fluid " style="width: 1200px!important; object-fit: contain;">
      </div>
    </div>
  </div>
</section>

<!--===============================================================
                 apartado de solucion profesional
===================================================================-->
<section class="py-5 bg-light">
  <div class="container">
    <!-- Encabezado -->
    <div class="text-center mb-5">
      <h2 class="fw-bold texto-azul-indart">{% trans 'Diseño Optimizado para Proyectos Profesionales' %}</h2>
      <spam class="text-muted">{% trans 'La Tumaker BigFoot Modular está diseñada para ofrecer precisión, conectividad y facilidad de uso en la fabricación aditiva' %}.</spam>
    </div>

    <!-- Contenido principal -->
    <div class="row align-items-center">
      <!-- Imagen -->
      <div class="col-lg-6 col-md-12 text-center order-1 order-lg-2">
        <img src="{% static 'img/bf_modular/BM_Diagonal_Sin_Fondo_1.png' %}" alt="Tumaker BigFoot Modular" class="img-fluid">
      </div>

      <!-- Texto -->
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <ul class="list-unstyled">
          <li class="mb-4">
            <i class="bi bi-check-circle text-primary"></i>
            <span class="fw-bold">{% trans 'Calibración automática' %}</span>: {% trans 'Garantiza resultados precisos y consistentes en cada impresión' %}.
          </li>
          <li class="mb-4">
            <i class="bi bi-wifi text-primary"></i>
            <span class="fw-bold">{% trans 'Conectividad avanzada' %}</span>: {% trans 'Wi-Fi, Ethernet y Micro SD para un manejo remoto eficiente' %}.
          </li>
          <li class="mb-4">
            <i class="bi bi-display text-primary"></i>
            <span class="fw-bold">{% trans 'Pantalla táctil de 7' %}”</span>: {% trans 'Interfaz a color para una navegación sencilla e intuitiva' %}.
          </li>
          <li class="mb-4">
            <i class="bi bi-file-earmark-code text-primary"></i>
            <span class="fw-bold">{% trans 'Compatibilidad con software' %}</span>: {% trans 'Simplify 3D, CURA, SuperSlicer y soporte para formatos estándar como STL, OBJ y Gcode' %}.
          </li>
        </ul>
        <p class="text-muted">
          {% trans 'Con un diseño cerrado y niveles de ruido reducidos (44 dB en funcionamiento, 40 dB con la puerta cerrada), esta impresora es ideal tanto para entornos industriales como de investigación. Su estructura robusta y el enfoque modular aseguran máxima eficiencia y fiabilidad en una amplia gama de aplicaciones' %}.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- ==============================================================
                Esta es la sección de la tabla en el footer 
===================================================================-->
<div class="container my-5">
    <h3 class="text-center texto-azul-indart mb-4">{% trans 'Características' %}</h3>
    <div class="table-responsive d-none d-md-block">
        <table class="table table-bordered text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">{% trans 'Especificación' %}</th>
                    <th scope="col">NX Modular</th>
                    <th scope="col">NX Modular (Pellet)</th>
                    <th scope="col">NX Modular Dual</th>
                    <th scope="col">NX Modular Dual (Pellet - Direct Drive HR)</th>
                    <th scope="col">NX Modular Dual (Pellet - Pellet)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{% trans 'Número de cabezales' %}</th>
                    <td>1 (Direct Drive HR)</td>
                    <td>2 (Pellets)</td>
                    <td>3 (Direct Drive HR – Direct Drive HR)</td>
                    <td>4 (Direct Drive HR – Pellets)</td>
                    <td>5 (Pellets – Pellets)</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Boquillas compatibles' %}</th>
                    <td>0.15, 0.25, 0.4, 0.6, 0.8 mm</td>
                    <td>0.4, 0.6, 0.8, 2.0, 4.0, 5.0 mm</td>
                    <td>0.15, 0.25, 0.4, 0.6, 0.8 mm</td>
                    <td>Filamento: 0.15_0.8 mm Pellet: 0.4_5.0 mm</td>
                    <td>0.4, 0.6, 0.8, 2.0, 4.0, 5.0 mm</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Boquillas incluidas' %}</th>
                    <td>0.4 mm</td>
                    <td>0.8 mm</td>
                    <td>0.4 mm (2 uds)</td>
                    <td>0.4 mm Pellet: 0.8 mm</td>
                    <td>0.8 mm (2 uds)</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Materiales' %}</th>
                    <td>ABS, ASA, NYLON, PET-G, PLA, PP, TPU</td>
                    <td>Pellets (Circular de 3-5 mm)</td>
                    <td>ABS, ASA, NYLON, PET-G, PLA, PP, TPU</td>
                    <td>Pellets y filamentos</td>
                    <td>Pellets (Circular de 3-5 mm)</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Área de trabajo' %}</th>
                    <td>300 x 300 x 250 mm</td>
                    <td>300 x 300 x 250 mm</td>
                    <td>300 x 300 x 250 mm</td>
                    <td>300 x 300 x 250 mm</td>
                    <td>300 x 300 x 250 mm</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Peso de la impresora' %}</th>
                    <td>56 kg</td>
                    <td>56 kg</td>
                    <td>56 kg</td>
                    <td>56 kg</td>
                    <td>56 kg</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Dimensiones de la impresora' %}</th>
                    <td>840 x 635 x 805 mm</td>
                    <td>840 x 635 x 805 mm</td>
                    <td>840 x 635 x 805 mm</td>
                    <td>840 x 635 x 805 mm</td>
                    <td>840 x 635 x 805 mm</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Temperatura de la cama caliente' %}</th>
                    <td>Hasta 100 °C</td>
                    <td>Hasta 100 °C</td>
                    <td>Hasta 100 °C</td>
                    <td>Hasta 100 °C</td>
                    <td>Hasta 100 °C</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Temperatura del cabezal' %}</th>
                    <td>Hasta 300 °C</td>
                    <td>Hasta 300 °C</td>
                    <td>Hasta 300 °C</td>
                    <td>Hasta 300 °C</td>
                    <td>Hasta 300 °C</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Calibración' %}</th>
                    <td>Automática</td>
                    <td>Automática</td>
                    <td>Automática</td>
                    <td>Automática</td>
                    <td>Automática</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Estructura' %}</th>
                    <td>Cerrada con filtros</td>
                    <td>Cerrada con filtros</td>
                    <td>Cerrada con filtros</td>
                    <td>Cerrada con filtros</td>
                    <td>Cerrada con filtros</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Conectividad' %}</th>
                    <td>Wi-Fi, Ethernet, Micro SD</td>
                    <td>Wi-Fi, Ethernet, Micro SD</td>
                    <td>Wi-Fi, Ethernet, Micro SD</td>
                    <td>Wi-Fi, Ethernet, Micro SD</td>
                    <td>Wi-Fi, Ethernet, Micro SD</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Emisión de ruido' %}</th>
                    <td>44 dB (40 dB con la puerta cerrada)</td>
                    <td>44 dB (40 dB con la puerta cerrada)</td>
                    <td>44 dB (40 dB con la puerta cerrada)</td>
                    <td>44 dB (40 dB con la puerta cerrada)</td>
                    <td>44 dB (40 dB con la puerta cerrada)</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Pantalla' %}</th>
                    <td>7" táctil a color</td>
                    <td>7" táctil a color</td>
                    <td>7" táctil a color</td>
                    <td>7" táctil a color</td>
                    <td>7" táctil a color</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Software compatible' %}</th>
                    <td>MacOS, Windows, Linux</td>
                    <td>MacOS, Windows, Linux</td>
                    <td>MacOS, Windows, Linux</td>
                    <td>MacOS, Windows, Linux</td>
                    <td>MacOS, Windows, Linux</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Nivel de potencia' %}</th>
                    <td>120W, 600W, 1350W</td>
                    <td>120W, 600W, 1350W</td>
                    <td>120W, 600W, 1350W</td>
                    <td>120W, 600W, 1350W</td>
                    <td>120W, 600W, 1350W</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Software de corte compatible' %}</th>
                    <td>Simplify 3D, CURA, SuperSlicer</td>
                    <td>Simplify 3D, CURA, SuperSlicer</td>
                    <td>Simplify 3D, CURA, SuperSlicer</td>
                    <td>Simplify 3D, CURA, SuperSlicer</td>
                    <td>Simplify 3D, CURA, SuperSlicer</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Formato de archivos' %}</th>
                    <td>STL, OBJ, Gcode</td>
                    <td>STL, OBJ, Gcode</td>
                    <td>STL, OBJ, Gcode</td>
                    <td>STL, OBJ, Gcode</td>
                    <td>STL, OBJ, Gcode</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Garantía' %}</th>
                    <td>1 año</td>
                    <td>1 año</td>
                    <td>1 año</td>
                    <td>1 año</td>
                    <td>1 año</td>
                </tr>
                <tr>
                    <th scope="row">{% trans 'Peso del paquete' %}</th>
                    <td>114 kg</td>
                    <td>114 kg</td>
                    <td>114 kg</td>
                    <td>114 kg</td>
                    <td>114 kg</td>
                </tr>
                <tr>
                    <th scope="row texto">{% trans 'Dimensiones del paquete' %}</th>
                    <td>953 x 800 x 957 mm</td>
                    <td>953 x 800 x 957 mm</td>
                    <td>953 x 800 x 957 mm</td>
                    <td>953 x 800 x 957 mm</td>
                    <td>953 x 800 x 957 mm</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Versión móvil -->
    <div class="d-block d-md-none">
        <div class="accordion" id="accordionCaracteristicas">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        NX 300 Modular
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionCaracteristicas">
                    <div class="accordion-body">
                        <p><strong>Número de cabezales:</strong></p>
                        <ul>
                            <li><strong>NX Modular:</strong> 1 (Direct Drive HR)</li>
                            <li><strong>NX Modular (Pellet):</strong> 2 (Pellets)</li>
                            <li><strong>NX Modular Dual:</strong> 3 (Direct Drive HR – Direct Drive HR)</li>
                            <li><strong>NX Modular Dual (Pellet - Direct Drive HR):</strong> 4 (Direct Drive HR – Pellets)</li>
                            <li><strong>NX Modular Dual (Pellet - Pellet):</strong> 5 (Pellets – Pellets)</li>
                        </ul>
                        <br>
                        <p><strong>Boquillas compatibles:</strong> 0.15, 0.25, 0.4, 0.6, 0.8 mm</p>
                        <p><strong>Boquillas incluidas:</strong> 0.4 mm</p>
                        <p><strong>Materiales:</strong> ABS, ASA, NYLON, PET-G, PLA, PP, TPU</p>
                        <p><strong>Área de trabajo:</strong> 300 x 300 x 250 mm</p>
                        <p><strong>Peso de la impresora:</strong> 56 kg</p>
                        <p><strong>Dimensiones:</strong> 840 x 635 x 805 mm</p>
                        <p><strong>Temperatura de la cama caliente:</strong> Hasta 100 °C</p>
                        <p><strong>Temperatura del cabezal:</strong> Hasta 300 °C</p>
                        <p><strong>Calibración:</strong> Automática</p>
                        <p><strong>Estructura:</strong> Cerrada con filtros</p>
                        <p><strong>Conectividad:</strong> Wi-Fi, Ethernet, Micro SD</p>
                        <p><strong>Emisión de ruido:</strong> 44 dB (40 dB con la puerta cerrada)</p>
                        <p><strong>Pantalla:</strong> 7" táctil a color</p>
                        <p><strong>Software compatible:</strong> MacOS, Windows, Linux</p>
                        <p><strong>Nivel de potencia:</strong> 120W, 600W, 1350W</p>
                        <p><strong>Software de corte compatible:</strong> Simplify 3D, CURA, SuperSlicer</p>
                        <p><strong>Formato de archivos:</strong> STL, OBJ, Gcode</p>
                        <p><strong>Garantía:</strong> 1 año</p>
                        <p><strong>Peso del paquete:</strong> 114 kg</p>
                        <p><strong>Dimensiones del paquete:</strong> 953 x 800 x 957 mm</p>
                    </div>
                </div>
            </div>
            <!-- Repite el mismo bloque de acordeón para los demás modelos -->
        </div>
    </div>
</div>


  
{% endblock %}