{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>Información | Indart3D</title>
<style>

</style>

{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center texto-azul-indart py-5">Descargar Configuración Gama BIG_FOOT.</h2>
        <div class="row g-3">
           <!-- Card 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/10-BF-PRO-BW.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Bowden" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Bowden</h5>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Card 2 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/11-BF-PRO-DD.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Direct Drive" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Direct Drive</h5>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Card 3 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/12-BF-PRO-PL.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Pellet" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Pellet</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- Segunda Fila -->
        <div class="row g-3 mt-4">
            <!-- Card 4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/13-BF-PRO-DUAL-BW-BW.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Bowden - Bowden" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Bowden - Bowden</h5>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Card 5 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/14-BF-PRO-DUAL-BW-DD.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Bowden - Direct Drive" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Bowden - Direct Drive</h5>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Card 6 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/15-BF-PRO-DUAL-BW-PL.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Bowden - Pellet" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Bowden - Pellet</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row g-3 mt-4">
            <!-- Card 7 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/16-BF-PRO-DUAL-DD-DD.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Direct Drive - Direct Drive" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Direct Drive - Direct Drive</h5>
                        </div>
                    </div>
                </a>
            </div>
        
            <!-- Card 8 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/17-BF-PRO-DUAL-DD-PL.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Direct Drive - Pellet" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Direct Drive - Pellet</h5>
                        </div>
                    </div>
                </a>
            </div>
        
            <!-- Card 9 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% static 'doc/18-BF-PRO-DUAL-PL-PL.zip' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover" style="background-color: #4bb5c1; color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Click Para Descargar</h6>
                        </div>
                        <img src="{% static 'img/nx_modular/NX_Frente_SinFondo_1.png' %}" alt="Bigfoot Pro Pellet - Pellet" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5>Bigfoot Pro Pellet - Pellet</h5>
                        </div>
                    </div>
                </a>
            </div>
        
            <!-- Card Anteriores -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a style="text-decoration: none;" href="{% url 'home_app:soporte_manual' %}">
                    <div class="card text-center border-0 shadow-lg h-100 card-hover fondo-azul-indart" style="color: #fff; border-radius: 10px; width: 280px; margin: auto;">
                        <div class="card-body">
                            <h6>Regresar a Otros Modelos</h6>
                        </div>
                        <img src="{% static 'img/processed-image.png' %}" alt="Anteriores" class="card-img-top img-fluid" style="height: 290px; object-fit: cover; padding-top: 3px;">
                    </div>
                </a>
            </div>
        </div>        
    </div>
</section>


<section class="fondo-azul-indart" style="color: white; padding: 60px 0; text-align: center;">
    <div class="container py-5" style="height: 400px;">
        <img src="{% static 'img/logo/Logo-indart3d-white-1.png.webp' %}" alt="">
        <!-- Mensaje principal -->
        <p style="font-size: 20px; font-weight: 500; margin: 0 auto 30px auto; max-width: 800px; line-height: 1.8; padding-top: 20px;">
            <b>Si no encuentras el archivo que necesitas, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</b>
        </p>

        <!-- Botón de contacto -->
        <div style="margin: 20px 0;">
            <a href="{% url 'home_app:contacto' %}" style="
                text-decoration: none;
                font-size: 18px;
                color: #4bb5c1;
                background: white;
                border-radius: 30px;
                padding: 10px 30px;
                font-weight: bold;
                display: inline-block;
                border: 2px solid white;">
                Contacto
            </a>
        </div>

        <!-- Información del contacto -->
        <div class="contact-info" style="margin-top: 40px;">
            <!-- Nombre -->
            <h4 style="margin-top: 10px; font-weight: bold; font-size: 22px;">INDART-3D</h4>
        </div>
    </div>
</section>

<!--script de estilos para los contenedores "card"-->

<script>
    // Agrega efectos de hover a las tarjetas
    document.querySelectorAll('.card-hover').forEach((card) => {
        card.addEventListener('mouseover', () => {
            card.style.transform = 'scale(1.08)'; // Agranda la tarjeta ligeramente
            card.style.boxShadow = '0px 15px 30px rgba(243, 156, 18, 0.5)'; // Sombra con color
            card.style.transition = 'transform 0.3s ease, box-shadow 0.3s ease'; // Suaviza el efecto
        });

        card.addEventListener('mouseout', () => {
            card.style.transform = 'scale(1)'; // Vuelve a su tamaño original
            card.style.boxShadow = '0px 5px 15px rgba(0, 0, 0, 0.3)'; // Sombra inicial
        });
    });
</script>

{% endblock %}