{% extends 'home/base.html' %}
{% load static %}

{% load i18n %}
{% block head %}
<title>Contacto | Indart3D</title>
<!-- Leaflet.js y CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>

<!--enlaces del carousel-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal
==================================================-->
<div style="background: linear-gradient(to right, #4bb5c1 50%, #ffffff);">
    <div class="container py-5">
        <div class="row align-items-center">
            <!-- Columna de texto -->
            <div class="col-md-6 px-5 text-white">
                <h2 class="display-4">{% trans 'Contacta con nosotros' %}</h2>
                <p class="mt-3 fs-5">
                   <b>{% trans 'Puedes ponerte en contacto con nosotros para lo que necesites:' %}</b>
                </p>
                <ul class="fs-5">
                    <li>{% trans '¿Quieres hacer un pedido o pedir un presupuesto?' %}</li>
                    <li>{% trans '¿Dudas técnicas?' %}</li>
                    <li>{% trans '¿Quieres proponernos una idea o sugerencia?' %}</li>
                    <li>{% trans '¿Quieres enviarnos tu currículum o demostrarnos tu talento?' %}</li>
                    <li>...</li>
                </ul>
            </div>

            <!-- Columna del formulario -->
            <div class="col-md-6 px-5">
                <div class="p-4 rounded" style="background-color: #4bb5c1; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
                    <form method="post" action="">
                        {% csrf_token %}
                    
                        <!-- Nombre y Empresa -->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="nombre" class="form-label text-white">{% trans 'Nombre*' %}</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-6">
                                <label for="empresa" class="form-label text-white">{% trans 'Empresa' %}</label>
                                {{ form.company }}
                            </div>
                        </div>
                    
                        <!-- Email y País -->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="email" class="form-label text-white">{% trans 'Email' %}*</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6">
                                <label for="pais" class="form-label text-white">{% trans 'País' %}*</label>
                                {{ form.country }}
                            </div>
                        </div>
                    
                            <!-- Teléfono con Prefijo -->
                        <div class="mb-3">
                            <label for="telefono" class="form-label text-white">{% trans 'Teléfono' %}*</label>
                            <div class="input-group">
                                <span class="input-group-text">+</span>  <!-- Muestra siempre el "+" -->
                                {{ form.prefix }}  <!-- Input para el prefijo editable -->
                                {{ form.phone }}   <!-- Input para el número de teléfono -->
                            </div>
                        </div>
                    
                        <!-- Mensaje -->
                        <div class="mb-3">
                            <label for="mensaje" class="form-label text-white">{% trans '¿En qué te podemos ayudar?' %}</label>
                            {{ form.message }}
                        </div>
                    
                        <!-- Política de privacidad -->
                        <div class="form-check mb-3">
                            {{ form.privacy_policy }}
                            <label class="form-check-label text-white" for="politicaPrivacidad">
                                He leído y acepto la <a href="#" class="text-white text-decoration-underline">{% trans 'política de privacidad' %}</a>
                                y el <a href="#" class="text-white text-decoration-underline">{% trans 'aviso legal' %}</a>
                            </label>
                        </div>
                    
                        <!-- Botón Enviar -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn bg-light w-auto px-4">{% trans 'Enviar' %}</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">

        <!-- Tarjeta Teléfono -->
        <div class="col-md-4 col-12 mb-3">
            <div class="card text-center shadow" style="background: linear-gradient(to bottom, #FFD54F, #FFF9C4); border-radius: 15px;min-height: 20vh;">
                <div class="card-body">
                    <div class="mb-3">
                        <img src="{% static 'img/iconos/phone_23732.webp' %}" alt="Teléfono" style="width: 50px;">
                    </div>
                    <h5 class="card-title">{% trans 'Teléfono' %}</h5>
                    <p class="card-text text-center">+34 943 943 855</p>
                </div>
            </div>
        </div>
        <!-- Tarjeta Dirección -->
        <div class="col-md-4 col-12 mb-3">
            <div class="card text-center shadow" style="background: linear-gradient(to bottom, #FFD54F, #FFF9C4); border-radius: 15px;min-height: 20vh;">
                <div class="card-body">
                    <div class="mb-3">
                        <img src="{% static 'img/iconos/18315446.png' %}" alt="Dirección" style="width: 50px;">
                    </div>
                    <h5 class="card-title">{% trans 'Dirección' %}</h5>
                    <p class="card-text text-center">Calle Gabiria, 88<br>20305 Irun, Gipuzkoa</p>
                </div>
            </div>
        </div>

        <!-- Tarjeta Email -->
        <div class="col-md-4 col-12 mb-3">
            <div class="card text-center shadow" style="background: linear-gradient(to bottom, #FFD54F, #FFF9C4); border-radius: 15px;min-height: 20vh;">
                <div class="card-body">
                    <div class="mb-3">
                        <img src="{% static 'img/iconos/mail_23797.webp' %}" alt="Email" style="width: 50px;">
                    </div>
                    <h5 class="card-title">{% trans 'Email' %}</h5>
                    <p class="card-text text-center">info@indart3d.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===============================================
            leaflet mapas
===================================================-->
<div class="container my-5 py-5">
    <div class="row align-items-center">
        <!-- Información -->
        <div class="col-md-6">
            <h2 class="mb-4 texto-azul-indart">{% trans 'Visítanos' %}</h2>
            <p>{% trans 'Si necesitas soporte presencial, o simplemente quieres ver dónde fabricamos y desarrollamos nuestros productos, puedes visitarnos, estamos en:' %}</p>
            <p><strong>Calle Gabiria, 88, 20305 Irun, Gipuzkoa</strong></p>
        </div>

        <!-- Mapa Leaflet -->
        <div class="col-md-6">
            <div id="map" style="height: 400px; width: 100%; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);"></div>
        </div>
    </div>
</div>


<!--=====================================================
            este es el ultimo apartado de la seccion 
=========================================================-->
<div class="" style="background: linear-gradient(to right, #4bb5c1 40%, #ffffff);">
    <div class="container">
        <div class="row align-items-center text-center text-md-start" style="padding-top: 150px; padding-bottom: 150px;">
            <!-- Texto -->
            <div class="col-md-6">
                <h2 class="fw-bold" style="font-size: 2.5rem;">
                    {% trans 'No es' %} <span style="color: #d52d3e;">{% trans 'tarde' %}</span>, {% trans 'tampoco' %} <span style="color: #f3c938;">{% trans 'temprano' %}</span>. {% trans 'Es el' %} <span style="color: #8a959d;">{% trans 'momento' %}</span>.
                </h2>
                <div class="mt-4 mb-4">
                   <!-- <a href="#contacto" class="btn btn-primary" style="background: #4bb5c1; border:1px solid grey; padding: 10px 20px; border-radius: 5px;">
                        CONTACTA CON NOSOTROS
                    </a>-->
                </div>
            </div>

            <!-- Logo -->
            <div class="col-md-6">
                <img src="{% static 'img/logo/logo-indart-removebg-preview.png' %}" alt="Indart 3D Logo" class="img-fluid" style="max-width: 250px;">
            </div>
        </div>
    </div>
</div>




<!-- Leaflet.js y CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    // Inicializar el mapa
    var map = L.map('map').setView([43.3371, -1.7945], 15); // Coordenadas aproximadas para Irun, Gipuzkoa

    // Cargar mosaicos (tiles) del mapa
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: ''
    }).addTo(map);

    // Añadir un marcador
    L.marker([43.3371, -1.7945]).addTo(map)
        .bindPopup('<b>Indart 3D</b><br>Calle Gabiria, 88, 20305 Irun, Gipuzkoa')
        .openPopup();
</script>


{% endblock %}