{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>FILAMENTO | Indart3D</title>
<style>
   
</style>
{% endblock %}

{% block content %}
    <section class="container my-5">
        <!-- Título principal -->
        <div class="text-center mb-5">
            <h2 class="fw-bold text-uppercase texto-azul-indart">{% trans 'Filamentos para Impresión 3D' %}</h2>
            <span class="text-muted">{% trans 'Descubre los mejores materiales para tus proyectos de impresión 3D' %}.</span>
        </div>
        
        <!-- Contenido del filamento -->
        <div class="row align-items-center">
            <!-- Imagen del filamento -->
            <div class="col-md-6 text-center py-5">
                <img src="{{ datos.image.url }}" alt="{{ datos.name }}" 
                    class="rounded img-fluid" style="max-height: 450px; object-fit: contain;">
            </div>
            
            <!-- Descripción del filamento -->
            <div class="col-md-6">
                <h3 class="fw-bold texto-azul-indart">{{ datos.name }}</h3>
                <p class="text-muted">
                    {{ datos.summary|safe }}
                </p>
            </div>
            
            <div class="col-md-8">
                <p class="text-muted">
                {{ datos.description|safe }}
                </p>
            </div>
    </div>
</section>

{% endblock %}