{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>FILAMENTO | Indart3D</title>
<style>
   
</style>
{% endblock %}

{% block content %}
<section class="container my-5">
    <!-- Título principal -->
    <div class="text-center mb-5">
        <h2 class="fw-bold text-uppercase">Filamentos para Impresión 3D</h2>
        <span class="text-muted">Descubre los mejores materiales para tus proyectos de impresión 3D.</span>
    </div>
    <!-- Contenido del filamento -->
    <div class="row align-items-center">
        <!-- Imagen del filamento como fondo -->
        <div class="col-md-6 text-center">
            <div 
                class="rounded"
                style="width: 100%; height: 450px;background-image: url('{{ datoS.image.url }}'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            </div>
        </div>
        <!-- Descripción del filamento -->
        <div class="col-md-6">
            <h3 class="fw-bold">{{ datos.name }}</h3>
            <p class="text-muted">
               {{ datos.summary }}
            </p>
        </div>
    </div>
</section>
{% endblock %}