{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<title>BF_MODULAR | Indart3D</title>
<style>

</style>
{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal HAZITEK
==================================================-->

<section class="container my-5 py-4">
  <div class="text-center">
      <!-- Título Principal -->
      <h2 class="fw-bold text-uppercase texto-azul-indart mb-3">
          {% trans 'PROGRAMA DE AYUDAS DE APOYO A LA I+D EMPRESARIAL – HAZITEK' %}
      </h2>
      <!-- Subtítulo -->
      <span class="text-muted text-uppercase mb-4">
        {% trans 'ACTUACIÓN COFINANCIADA POR EL GOBIERNO VASCO Y LA UNIÓN EUROPEA A TRAVÉS DEL FONDO EUROPEO DE DESARROLLO REGIONAL 2021-2027 (FEDER)' %}
      </span>
      <!-- Proyecto -->
      <span class="fw-bold text-dark">
        {% trans 'Proyecto ZL – 2021/00714 – PelletPR proiektua' %}
      </span>
  </div>

  <!-- Imagen Completa -->
  <div class="mt-4 text-center">
      <img src="{% static 'img/logo/Hazitek-_pais_vasco.png' %}" alt="Detalles del programa Hazitek" class="img-fluid rounded shadow">
  </div>
</section>


  
{% endblock %}