{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>BF_MODULAR | Indart3D</title>
<style>
    .container {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 2rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #0d6efd;
    }

    img {
        max-height: 300px;
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}

<!--=============================================
        Contenido principal HAZITEEK
==================================================-->
<div class="container py-5">
    <!-- Título -->
    <div class="text-center mb-4">
        <h2 class="fw-bold">{% trans 'SUBVENCIÓN 2024' %}</h2>
        <span class="text-muted">{% trans 'Investigación, desarrollo e innovación' %}.</span>
    </div>

    <!-- Sección de imágenes -->
    <div class="row py-5">
        <!-- Imagen 1 -->
        <div class="col-md-6 d-flex justify-content-center align-items-center pt-5">
            <img src="{% static 'img/logo/220317-OP1_Hazitek_CARTEL_FEDER_plantilla (1)-1.png' %}" class="img-fluid rounded shadow" alt="Imagen 1">
        </div>

        <!-- Imagen 2 -->
        <div class="col-md-6 d-flex justify-content-center align-items-center pt-5">
            <img src="{% static 'img/logo/indarthazitek-2.png' %}" class="img-fluid rounded shadow" alt="Imagen 2">
        </div>
    </div>
    <!-- Sección de la tercera imagen centrada -->
    <div class="row text-center py-5">
        <h4 class="text-muted"><b>{% trans 'PROGRAMA DE AYUDAS INDART' %}.</b></h4>
        <div class="col-12 d-flex justify-content-center align-items-center pt-5">
            <img src="{% static 'img/logo/Hazitek-2024-3.png' %}" class="img-fluid rounded shadow" alt="Imagen 3">
        </div>
    </div>
</div>




  
{% endblock %}