{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<title>BF_MODULAR | Indart3D</title>
<style>

</style>
{% endblock %}

{% block content %}


<!--=============================================
        Contenido principal
==================================================-->
<section class="container my-5">
  <!-- Título principal -->
  <div class="text-center mb-5">
      <h2 class="fw-bold text-uppercase texto-azul-indart">{% trans 'Pellets para Impresión 3D' %}</h2>
      <span class="text-muted">{% trans 'Descubre los mejores pellets para la fabricación e impresión 3D' %}.</span>
  </div>
  
  <!-- Contenido del pellet -->
  <div class="row align-items-center">
      <!-- Imagen del pellet grande -->
      <div class="col-md-6 text-center py-5">
          <img src="{{ datos.image.url }}" alt="{{ datos.name }}" 
              class="rounded img-fluid" style="max-height: 650px; object-fit: contain;">
      </div>
      
      <!-- Descripción del pellet -->
      <div class="col-md-6">
          <h3 class="fw-bold texto-azul-indart">{{ datos.name }}</h3>
          <p class="text-muted">
              {{ datos.summary|safe }} <!-- Resumen breve -->
          </p>
      </div>

      <!-- Descripción completa -->
      <div class="col-md-8">
          <p class="text-muted">
              {{ datos.description|safe }} <!-- Descripción extendida -->
          </p>
      </div>
  </div>
</section>


<div class="bg-light py-5" style="height:auto">
  <section class="container my-5 py-5">
    <h3 class="texto-azul-indart text-center mb-4">{% trans 'Tamaños Disponibles' %}</h3>
    <div class="row justify-content-center text-center gy-5">
      <!-- Primer bloque -->
      <div class="col-lg-3 col-md-4">
        <div class="p-4 border rounded shadow bg-light hover-shadow" style="transition: all 0.3s ease-in-out; cursor: pointer;">
          <h2 class="fw-bold">1 Kg</h2>
          <span class="text-muted">{% trans 'Un Kilo' %}</span>
        </div>
      </div>
      <!-- Segundo bloque -->
      <div class="col-lg-3 col-md-4">
        <div class="p-4 border rounded shadow bg-light hover-shadow" style="transition: all 0.3s ease-in-out; cursor: pointer;">
          <h2 class="fw-bold">5 Kg</h2>
          <span class="text-muted">{% trans 'Cinco Kilos' %}</span>
        </div>
      </div>
      <!-- Tercer bloque -->
      <div class="col-lg-3 col-md-4">
        <div class="p-4 border rounded shadow bg-light hover-shadow" style="transition: all 0.3s ease-in-out; cursor: pointer;">
          <h2 class="fw-bold">15 Kg</h2>
          <span class="text-muted">{% trans 'Quince Kilos' %}</span>
        </div>
      </div>
    </div>
  </section>
</div>





  
{% endblock %}