{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>SIMSCAN | Indart3D</title>
<style>

</style>
{% endblock %}

{% block content %}
<div class="text-center" style="height: 600px;padding-top: 50px;">
    <!-- Icono del bot -->
    <video class="mx-auto d-block scaled-video" autoplay loop muted playsinline style="height: 150px;">
        <source src="{% static 'media/minibootIndart.mp4' %}" type="video/mp4">
      </video>
      <br>
    <h3 style="margin-top: 70px;">Hola, aún estoy en desarrollo, ¡no podrás ver el contenido!</h3>
    <br>
    <img src="{% static 'img/logo/logo-indart-removebg-preview.png' %}" alt="">
</div>

<!--=============================================
        Contenido principal
==================================================-->








  
{% endblock %}