{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<title>Información | Indart3D</title>
<style>

</style>

{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <div class="row g-4 justify-content-center">
           <!-- Tarjeta 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">GAMA PRO</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            <h5 class="text-center text-muted mt-5">INTERFAZ WEB</h5>
                            <ol class="list-unstyled mt-3">
                            {% for dato in Interfaz_Web %}
                                <a style="text-decoration: none; color: #4198ad;" href="{% url 'home_app:soporte_detail' dato.id %}">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        {{ dato.number }}. {{ dato.name }}
                                    </li>
                                </a>
                                {% endfor %}
                    
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">MANEJO DE IMPRESORAS</h5>
                                <ol class="list-unstyled mt-3">
                                    {% for dato in Manejo_de_impresoras %}
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            {{ dato.name }}
                                        </li>
                                    </a>
                                    {% endfor %}
                                </ol>
                            
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta 1-->

            <!-- Tarjeta 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">SIMPLIFY-3D</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            <h5 class="text-center text-muted mt-5">SIMPLIFY-3D</h5>
                            <ol class="list-unstyled mt-3">
                                {% for dato in Simpify %}
                                <a style="text-decoration: none; color: #4198ad;" href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        {{ dato.name }}
                                    </li>
                                </a>
                                {% endfor %}
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">SUPER SLICER</h5>
                                <ol class="list-unstyled mt-3">
                                    {% for dato in Super_slicer %}
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            {{ dato.name }}
                                        </li>
                                    </a>
                                    {% endfor %}
                                </ol>
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta dos-->

            <!-- Tarjeta 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">GAMA PRO</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            {% for dato in Cabezal_DART %}
                            <h5 class="text-center text-muted mt-5">{{  dato.name }}</h5>
                            {% endfor %}
                            <ol class="list-unstyled mt-3">
                                <a style="text-decoration: none; color: #4198ad;" href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        1. Cómo conectar la impresora a una red WiFi
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        2. Cómo utilizar la interfaz web
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        3. Avisos interfaz web
                                    </li>
                                </a>
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">MANEJO DE IMPRESORAS</h5>
                                <ol class="list-unstyled mt-3">
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            1. Calibración manual eje Z
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            2.  Calibración digital eje Z 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            3.  Calibración offset dual 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            4.  Calibración altura cabezales 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            5.  Cambio de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            6. A Fin de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            7.  Extruir y retraer manualmente 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width:30px; height: 30px; margin-right: 10px;">
                                            8.  Seleccionar cabezal 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            9.  Set materials parameters 
                                        </li>
                                    </a>
                                </ol>
                            
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta tre-->

            <!-- Tarjeta 4 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">GAMA PRO</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            {% for dato in Cabezal_DD_HR %}
                            <h5 class="text-center text-muted mt-5">{{  dato.name }}</h5>
                            {% endfor %}
                            <ol class="list-unstyled mt-3">
                                <a style="text-decoration: none; color: #4198ad;" href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        1. Cómo conectar la impresora a una red WiFi
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        2. Cómo utilizar la interfaz web
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        3. Avisos interfaz web
                                    </li>
                                </a>
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">MANEJO DE IMPRESORAS</h5>
                                <ol class="list-unstyled mt-3">
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            1. Calibración manual eje Z
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            2.  Calibración digital eje Z 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            3.  Calibración offset dual 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            4.  Calibración altura cabezales 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            5.  Cambio de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            6. A Fin de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            7.  Extruir y retraer manualmente 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width:30px; height: 30px; margin-right: 10px;">
                                            8.  Seleccionar cabezal 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            9.  Set materials parameters 
                                        </li>
                                    </a>
                                </ol>
                            
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta cuatro -->

            <!-- Tarjeta 5 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">GAMA PRO</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            {% for dato in Cabezal_Pellet %}
                            <h5 class="text-center text-muted mt-5">{{  dato.name }}</h5>
                            {% endfor %}
                            <ol class="list-unstyled mt-3">
                                <a style="text-decoration: none; color: #4198ad;" href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        1. Cómo conectar la impresora a una red WiFi
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        2. Cómo utilizar la interfaz web
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        3. Avisos interfaz web
                                    </li>
                                </a>
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">MANEJO DE IMPRESORAS</h5>
                                <ol class="list-unstyled mt-3">
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            1. Calibración manual eje Z
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            2.  Calibración digital eje Z 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            3.  Calibración offset dual 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            4.  Calibración altura cabezales 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            5.  Cambio de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            6. A Fin de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            7.  Extruir y retraer manualmente 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width:30px; height: 30px; margin-right: 10px;">
                                            8.  Seleccionar cabezal 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            9.  Set materials parameters 
                                        </li>
                                    </a>
                                </ol>
                            
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta cinco-->

            <!-- Tarjeta 6 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">GAMA PRO</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            {% for dato in Mantenimiento %}
                            <h5 class="text-center text-muted mt-5">{{  dato.name }}</h5>
                            {% endfor %}
                            <ol class="list-unstyled mt-3">
                                <a style="text-decoration: none; color: #4198ad;" href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        1. Cómo conectar la impresora a una red WiFi
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        2. Cómo utilizar la interfaz web
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        3. Avisos interfaz web
                                    </li>
                                </a>
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">MANEJO DE IMPRESORAS</h5>
                                <ol class="list-unstyled mt-3">
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            1. Calibración manual eje Z
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            2.  Calibración digital eje Z 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            3.  Calibración offset dual 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            4.  Calibración altura cabezales 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            5.  Cambio de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            6. A Fin de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            7.  Extruir y retraer manualmente 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width:30px; height: 30px; margin-right: 10px;">
                                            8.  Seleccionar cabezal 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            9.  Set materials parameters 
                                        </li>
                                    </a>
                                </ol>
                            
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta seis-->

            <!-- Tarjeta 7 -->
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg" style="border-radius: 15px; overflow: hidden;">
                    <!-- Imagen completa superior con ajuste -->
                    <img src="{% static 'img/soporte_tecnico/image copy 2.png' %}" 
                        alt="Imagen Tarjeta 1" 
                        class="card-img-top" 
                        style="height: 200px; object-fit: cover; width: 100%;">
                    
                    <!-- Contenido de la tarjeta -->
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold; color: #333;">Sección de Soporte</h5>
                        <p class="text-muted text-center">GAMA PRO</p>
                        
                        <!-- Contenedor con scroll -->
                        <div style="height: 300px; overflow-y: auto; padding-right: 10px; border-top: 1px solid #dee2e6; margin-top: 10px;">
                            {% for dato in Firmware %}
                            <h5 class="text-center text-muted mt-5">{{  dato.name }}</h5>
                            {% endfor %}
                            <ol class="list-unstyled mt-3">
                                <a style="text-decoration: none; color: #4198ad;" href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        1. Cómo conectar la impresora a una red WiFi
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        2. Cómo utilizar la interfaz web
                                    </li>
                                </a>
                                <a style="text-decoration: none; color: #4198ad;"  href="">
                                    <li class="d-flex align-items-center">
                                        <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                        3. Avisos interfaz web
                                    </li>
                                </a>
                            </ol>
                            
                            <h5 class="text-center text-muted mt-5">MANEJO DE IMPRESORAS</h5>
                                <ol class="list-unstyled mt-3">
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            1. Calibración manual eje Z
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center mb-2">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            2.  Calibración digital eje Z 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            3.  Calibración offset dual 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            4.  Calibración altura cabezales 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            5.  Cambio de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            6. A Fin de filamento 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            7.  Extruir y retraer manualmente 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width:30px; height: 30px; margin-right: 10px;">
                                            8.  Seleccionar cabezal 
                                        </li>
                                    </a>
                                    <a style="text-decoration: none; color: #4198ad;"  href="">
                                        <li class="d-flex align-items-center">
                                            <img src="{% static 'img/iconos/1492616984-7-docs-document-file-data-google-suits_83406.ico' %}" alt="Icono" style="width: 30px; height: 30px; margin-right: 10px;">
                                            9.  Set materials parameters 
                                        </li>
                                    </a>
                                </ol>
                            
                        </div>
                        
                        <!-- Botones -->
                        <div class="text-center mt-3">
                            <a href="#" class="btn btn-outline-secondary btn-sm">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin tarjeta siete-->
        </div>
    </div>
</section>

  
{% endblock %}