{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<title>Información | Indart3D</title>
<style>

</style>

{% endblock %}

{% block content %}



<div class="container my-5">
    <h2 class="text-center texto-azul-indart mb-4">{% trans 'Nuestras Impresoras' %}</h2>
    <hr>
    <div class="row gy-4 py-5">
        <!-- Tarjeta Mini Pro -->
        <div class="col-md-4">
            <div class="card shadow-lg" style="border-radius: 15px;border: 2px solid  rgb(38, 169, 173);">
                <div class="text-center p-3">
                    <img src="{% static 'img/soporte_tecnico/MiniPro-1280x1083-removebg-preview.png' %}" class="img-fluid rounded" alt="Mini Pro">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">MINI PRO</h5>
                    <a href="{% static 'doc/00-MINI-PRO.zip' %}" class="btn fondo-azul-indart w-100 text-white"onmouseover="cambiarFondo(this)">{% trans 'Configuración Mini Pro' %}</a>
                </div>
            </div>
        </div>
        <!-- Tarjeta NX Pro -->
        <div class="col-md-4">
            <div class="card shadow-lg" style="border-radius: 15px;border: 2px solid  rgb(38, 169, 173);">
                <div class="text-center p-3">
                    <img src="{% static 'img/soporte_tecnico/GamaNXPro-1280x1097-removebg-preview.png' %}" class="img-fluid rounded" alt="NX Pro">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">GAMA NX PRO</h5>
                    <a href="{% url 'home_app:configuracion_nx_pro' %}" class="btn fondo-azul-indart w-100 text-white"onmouseover="cambiarFondo(this)">{% trans 'Configuración NX Pro' %}</a>
                </div>
            </div>
        </div>
        <!-- Tarjeta Bigfoot Pro -->
        <div class="col-md-4">
            <div class="card shadow-lg" style="border-radius: 15px;border: 2px solid  rgb(38, 169, 173);">
                <div class="text-center p-3">
                    <img src="{% static 'img/soporte_tecnico/BigfootPro-1280x1079-removebg-preview.png' %}" class="img-fluid rounded" alt="Bigfoot Pro">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">GAMA BIGFOOT PRO</h5>
                    <a href="{% url 'home_app:configuracion_bigfoot_pro' %}" class="btn fondo-azul-indart w-100 text-white" onmouseover="cambiarFondo(this)">{% trans 'Configuración Bigfoot Pro' %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% static 'doc/MANUAL_IMPRESORAS-1.pdf' %}" 
           class="btn fondo-azul-indart text-white px-4 py-2" 
           onmouseover="cambiarFondo(this)">
           {% trans 'Manual Impresora' %}
        </a>
        <a href="{% static 'doc/Manual_Kit-close_ES.pdf' %}" 
           class="btn fondo-azul-indart text-white px-4 py-2" 
           onmouseover="cambiarFondo(this)">
           {% trans 'Manual Kit Close' %}
        </a>
    </div>
    
    
</div>

<script>
    function cambiarFondo(elemento) {
        // Cambia el color de fondo al pasar el mouse
        elemento.style.backgroundColor = '#4bb5c1'; // Nuevo color
        elemento.style.color = '#ffff'; // Cambia también el color del texto
        
        // Vuelve al color original después de 300ms
        setTimeout(() => {
            elemento.style.backgroundColor = '#4bb5c1';
            elemento.style.color = '#ffff';
        }, 4000);
    }
</script>



{% endblock %}